* {
  box-sizing: border-box;
}

:root {
  --color-bg: #2C2C32;
  --color-bg-hover: #0f7dc6;
  --color-active: #0f7dc6;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.container {
  max-width: 900px;
  padding: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.active {
  color: var(--color-active);
  cursor: default;
}

header{
  background-color: #2C2C32;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

header a {
  text-decoration: none;
}

header a + a{
  margin-left: 20px;
}

.active-link{
  color: var(--color-active);
  cursor: default;
}